.new-arrival__title {
  margin: 60px 0 55px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.new-arrival__desc {
  margin: 0 0 50px;
  font-size: 22px;
  line-height: 24px;
  color: black;
}

.new-arrival__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include reset-list;
}

.new-arrival__link {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 12;
  text-decoration: none;
}

.new-arrival__item {
  position: relative;
  width: 263px;
  margin-bottom: 50px;
  padding: 0 10px;
  border: 1px solid rgb(248, 247, 247);
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  transition: 0.6s;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    transition: 0.6s;
    z-index: 10;
  }

  &:hover::after {
    box-shadow: 0 0 32px 0 rgba(2, 2, 2, 0.22);
    bottom: -42px;
    z-index: 11;
  }
}

.new-arrival__item picture {
  background-color: white;
}

.new-arrival__name {
  order: 1;
  margin: 10px 0 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: black;
}

.new-arrival__price {
  order: 2;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 24px;
  color: black;
}

.new-arrival__info {
  order: 3;
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: $grey-cloud;
}

.new-arrival__item:hover {
  .new-arrival__btn {
    position: relative;
    z-index: 12;
    order: 4;
    width: 185px;

    &::before {
      position: absolute;
      z-index: 12;
      content: "";
      left: 18px;
      bottom: 14px;
      width: 26px;
      height: 24px;
      background: url("../img/icon-basket-white.png");
    }
  }
}

@media (max-width: $desktop-width) {
  .new-arrival {
    padding: 0 20px;
  }

  .new-arrival__title {
    font-size: 19px;
    line-height: 23px;
    margin: 35px 0 39px;
  }

  .new-arrival__desc {
    margin: 0 0 30px;
    font-size: 14px;
    line-height: 15px;
  }

  .new-arrival__item {
    width: 169px;
    margin-bottom: 33px;
  }

  .new-arrival__item:hover {
    .new-arrival__btn {
      width: 115px;
      padding: 5px 10px;
      font-size: 12px;
      line-height: 14px;

      &::before {
        width: 17px;
        height: 15px;
        left: 9px;
        bottom: 5px;
        background: url("../img/icon-basket-white-tablet.png");
      }

      &:hover::after {
        bottom: -26px;
      }
    }
  }

  .new-arrival__name {
    font-size: 13px;
    line-height: 15px;
  }

  .new-arrival__info {
    font-size: 9px;
    line-height: 11px;
  }

  .new-arrival__price {
    font-size: 18px;
    line-height: 15px;
  }
}

@media (max-width: $tablet-width) {
  .new-arrival {
    padding: 0 6px;
  }

  .new-arrival__title {
    font-size: 24px;
    line-height: 27px;
    margin: 35px 20px 20px;
  }

  .new-arrival__desc {
    margin: 0 0 30px 20px;
    font-size: 18px;
    line-height: 22px;
  }

  .new-arrival__item {
    width: 46%;
    margin-bottom: 20px;

    &:hover::after {
      bottom: -1px;
    }
  }

  .new-arrival__name {
    font-size: 12px;
    line-height: 15px;
  }

  .new-arrival__price {
    font-size: 17px;
    line-height: 15px;
  }
}
