html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: "Pt Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: $desktop-width) {
    max-width: 750px;
  }

  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-left: 0;
  }
}

.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 16px 10px;
  font-family: "Pt Sans", "Arial", sans-serif;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: $red;
  border: 0;
  border-radius: 5px;
  outline: none;

  &-input {
    color: black;
    background-color: white;
  }
}
