$dark-blue: #0e101f;
$light-grey: #f4f0f6;
$dark-grey: #757575;
$grey: #b3b3b3;
$grey-cloud: #8c8c8e;
$smoky: #42424c;
$light-black: #0e101f;
$red: #cc0000;
$pink: #de5959;
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1180px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
